
/* font family */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&family=Montserrat:ital,wght@0,400;0,600;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* nav styles starts here */
  header{
    margin-bottom: 140px;
  }


 .nav-content{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
     align-items: center;
     padding: 10px 0;
}  */

.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo img, p{
    margin-right: 10px;

}

.nav-logo p{
    font-weight: 700;
    font-size: 45px;

}

.nav-logo span{
    color: #ff2ac5;
}

.nav-menu ul{
    display: flex;
    align-items: center;
}

.nav-menu ul >li{
    list-style: none;
    margin-right: 24px;
}



.nav-menu a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}


.nav-icon{
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 5px 10px;
}

.nav-icon li{
    list-style: none;
}

.nav-icon img{
    width: 10%;
}

.nav-icon li , img{
    margin-right: 15px;
}


/* banner style starts here */


.banner {
   display: flex;
   width: 80vw;
   margin: 0 auto;
   align-items: center;
   justify-content: space-between;
}


.banner-content h2{
     font-size: 36px;
     font-weight: 600;
}

.banner-content h1{
    font-size: 58px;
    font-weight: 800;
}

.p-color{
    color: #534c64;
    font-size: 18px;
    font-weight: 5000;
    margin-bottom: 10px;
}

#sign-btn{
    background-color: #ff42a5;
    border-radius: 48px;
    padding: 15px 40px;
    color: #fff;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}

#go-btn{
    border-radius: 48px;
    padding: 15px 40px;
    background-color: #4EC5F7;
    color: #ffff;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.gradient{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}


.banner-img{
    width: 40vw;
}

.banner-img img{
    width: 100%;
}

/* online games style */
.online-gmaes{
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 75px;
}

.online-text{
    text-align: center;
    margin-bottom: 30px;
}

.online-text h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.online-game-container{
    display: flex;
    gap: 24px;
}

.single-game{
    width: 18vw;
    position: relative;
}

.single-game > img{
    width: 100%;
    margin-bottom: 10px;
}

.single-game p{
     color: #534c64;

}


/* play instantly */

.play-instantly{
    display: flex;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 150px;
}

/* .play-instantly img {
    border: 2px solid gray;
} */


.play-instantly-content{
    width: 45vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-instantly-img{
    width: 35vw;
    position: relative;
}

.play-instantly-img img{
    width: 100%;
}

.text-container{
    width: 50%;
}

.img-2{
    position: absolute;
    width: 38%;
    bottom: -41px;
    left: -78px;
}

.text-container h1{
    font-size: 38px;
}

.instantl-description{
    color:#534C64;
    margin-top: 10px;
    font-size: 18px;
}

/* games btn styles */

.game-btn-container{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 22px;
}

.single-item{
    width: 90%;
    height: 52px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
}

.single-item:hover{
    border: 1px solid #93b711 ;
    color:brown;
    border-radius: 30px;
}

.single-item img{
    width: 23%;
    object-fit: contain;
}

.single-item p{
    font-size: 16px;
    margin-right: 0;
    font-weight: 600;
}

.difference-style{
    justify-self: end;
}


/* footer style starts here */
.footer {
    background-color: #3b344f;
    margin-top: 130px;
    color: #ffff;
    min-height: 70vh;
}


.footer-content {
    width: 65vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 70px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.footer-logo span {
    color: #ff2ac5;
    
}

.footer-logo p {
    font-weight: 700;
    font-size: 45px;
}


.footer-menu > ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 30px;
}

.footer-menu > ul li{
    list-style: none;
}


.footer-menu ul li a{
    color: #fbecec;
    text-decoration: none;
}

.footer-img {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.footer-img i{
    font-size: 30px;
}

.privarcy-menu{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

.privarcy-menu li{
    list-style: none;
}

.privarcy-menu a{
    color: #746d6d;
    text-decoration: none;
}

.footer small{
    color: #ecf0ed;
}

.footer hr{
    width: 560px;
    margin: auto;
    
}













